.cart {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  margin-bottom: 10px;

  background: #e9e9e9;

  &__title {
    font-size: 20px;
  }

  &__total {
    position: absolute;
    top: 8px;
    right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 20px;
    height: 20px;
    overflow: hidden;

    cursor: pointer;
    background-color: #4a8ad3;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    box-sizing: border-box;
  }
}
