// .btn{
//   width: 100px;
//   padding: 10px;
//   border: none;
//   border-radius: 6px;
//   background-color: rgb(19 194 194);
// }

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
