
:host{
  width: 19.33333%;
}

.product {

  box-sizing: border-box;
  padding: 10px;

  background-color: white;
  border: 1px solid #dedede;
  border-radius: 6px;

  &__title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 26px;
    max-width: 200px;
    max-height: 60px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre-line;
    word-break: break-word;
  }

  &__body {
    display: flex;
    flex-direction: column;
  }

  &__price {
    font-size: 20px;
    margin-top: 10px;
  }

  &__image-wrapper {
    width: 100%;
    overflow: hidden;
    height: 200px;
  }

  &__image {
    width: 100%;
    cursor: pointer;
    transition: 0.3s ease-out;

    &:hover {
      transform: scale(1.2);
      transition: 0.3s ease-out;
    }
  }
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
  user-select: none;
  width: 100%;

  transition: 0.2s ease-out;

  &--primary {
    background-color: rgb(106, 165, 227);
    color: white;

    transition: 0.2s ease-in;
  }

  &--disabled {
    pointer-events: none;
    background-color: #e9e9e9;
  }
}

.quantity {
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #efefef;
  text-align: center;
  outline: none;
  transition: 0.2s ease-out;

  &:focus {
    border: 1px solid #b8b8b8;
    transition: 0.2s ease-in;
  }
}
